<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Les Printanières de Villemur</title>
    <!-- <link rel="shortcut icon" href="../images/fav_icon.png" type="image/x-icon"> -->
    <!-- Bulma Version 0.9.0-->
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
    <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js"></script>
</head>

<body>
    <nav class="navbar is-dark">
        <div class="navbar-brand">
            <a class="navbar-item" href="">
                Montgolfières d’Occitanie & d’Ailleurs
            </a>
        </div>

        <div id="navbarExampleTransparentExample" class="navbar-menu">
            <div class="navbar-start">
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    Les Printanières de Villemur, du 26 au 29 mai 2022
                </div>
            </div>
        </div>
    </nav>

    <section class="hero">
        <figure class="image">
            <%= tag :img, :src => "images/villemur.jpg" %>
        </figure>
    </section>

    <section class="section">
        <div class="container has-text-centered">
            <h2 class="title">Les Printanières de Villemur, du 26 au 29 mai 2022</h2>
            <p>
                JOURNÉES PORTES OUVERTES avec baptêmes de l'air en montgolfière à Villemur-sur-Tarn (31)
                <br ?> face au 4 avenue du Président Roosevelt (accès par l'avenue Leclerc et le Skate Parc)
            </p>

            <div class="columns is-centered" style="padding: 2rem">
                <div class="column">
                    <div class="card">
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <p class="title is-4">Baptêmes</p>
                                </div>
                            </div>

                            <div class="content">
                                Baptêmes de l'air en montgolfières<br />à 6h15 et à 18h45<br />à réserver aux numéros<br />0749&nbsp;851&nbsp;403 ou 0769&nbsp;310&nbsp;436
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="card">
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <p class="title is-4">Animations</p>
                                </div>
                            </div>

                            <div class="content">
                                Des montgolfières, des cerfs-volants, et des orgues de Barbarie les 26 et 27,<br />des animations musicales les 28 et 29 mai.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="card">
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <p class="title is-4">Restauration</p>
                                </div>
                            </div>

                            <div class="content">
                                Buvette, restauration légère. entrée libre et gratuite, sauf pour les vols,                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>

    <footer class="footer">
        <div class="container">
            <div class="content has-text-centered">
                <p>
                </p>
            </div>
        </div>
    </footer>
</body>

</html>
